body {
    margin: 0;
    background-color: #81daf3;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px,360px));
    grid-auto-rows: 200px;
    grid-gap: 24px;
    list-style: none;
    padding-bottom: 24px;
    padding-top: 24px;
    padding-left: 156px;
    padding-right: 156px;
    margin: 0;
}
.gallery-item {
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(46, 47, 66, 0.8);
    transition: transform 0.25s;
}
.gallery-item:hover {
    transform: scale(1.03);
}
.gallery-link {
    display: block;
    text-decoration: none;
}
.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}